body {
    display: flex;
    max-width: 1400px;
    width: 100%;
}

.title, .under-title {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    background-color: #333a3b;


}

.screen {
    width: 100%;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/gym.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.form {
    box-sizing: border-box;
    max-width: 500px;
    width: 100%;
    min-height: 800px;
    padding: 20px 20px;
    background-color: rgb(118, 61, 85);
    border-radius: 5px;
    box-shadow: 3px 3px 8px #151414;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
